// Specific CSS for your home-page
#banner {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  .banner-text{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    h1, p {
      text-align: center;
    }
  }
  .banner-img{
    height: 100%;
    width: 50%;
    background-image: url(dinner-party-copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      visibility: hidden;
    }
  }
}

.div-intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 350px;
  h1, p {
    text-align: center;
  }
  h1 {
    margin-top: 30px;
  }
}

.chef-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explanation-div {
  height: 60vh;
  width: 100%;
  background-color: #172A53;
  padding: 60px 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text-container {
    width: 100%;
    h3 {
      text-align: center;
      color: white;
    }
    .bullet-point {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i {
        color: #F7984A;
        font-size: 45px;
      }
      p {
        margin-top: 10px;
        text-align: center;
        color: white;
      }
    }
  }
}

#cooking-div {
  height: 80vh;
  //width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  #image-cooking {
    background: red;
    width: 40vw !important;
    height: 80% !important;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: -30px;
    background-image: url(cooking-copy.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    p {
      visibility: hidden;
    }
  }
  #text-cooking {
    background: #F7984A;
    width: 40vw !important;
    height: 80% !important;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: -30px;
    border-radius: 10px;
    padding: 60px;
    .text-bullets {
      margin: 25px 0px;
      display: flex;
      align-items: center;
      p {
        margin-bottom: 0px;
      }
      i {
        font-size: 30px;
        margin-right: 20px;
      }
    }
  }
}

.ready-to-get-started-div {
  padding: 35px 420px;
  height: 50vh;
  //width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(small-banner-img-copy.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 0px;
  h3, p {
    text-align: center;
  }
}






.container-fluid {
  margin: 0;
  .row {
    //width: 100vw;
    .banner-half {
      height: 70vh;
      width: 100vw;
    }
    .banner-txt {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .banner-left-inner {
        width: 330px !important;
      }
      h1 {
        font-weight: bold;
        color: #172A53;
      }
      p {
        color: #6B788C;
      }
      .banner-left-inner-long {
        width: 450px !important;
      }
    }
    .banner-right {
      background-image: asset-url('dinner-party-copy.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.at-deri-dari {
  .row {
    background-color: #F7F7F7;
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .img-container-inner {
      height: 75%;
      width: 75%;
      background-image: asset-url('cooking-copy.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px;
    }
  }
}

.three-steps {
  background-color: #172A53;
  padding: 50px;
  h2 {
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .bullet-point {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      color: #F7984A;
      font-size: 45px;
    }
    p {
      margin-top: 10px;
      text-align: center;
      color: white;
    }
  }
}

.why-deri-dari {
  .div-header {
    margin-top: 65px;
    text-align: center;
    font-weight: bold;
    color: #172A53;
  }
  .row-white {
    background-color: white !important;
  }
  .row-grey {
    background-color: #F7F7F7 !important;
  }
}

/*
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  #banner-left {

  }
  #banner-right {
    background-image: asset-url('dinner-party-copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}


*/












