<div class="container-fluid footer-top">
  <div class="row">
    <div class="col-12 col-md-4 footer-top-left footer-txt">
      <%= image_tag("DeriDari_ApprovedLogo_FixedColours-copy", {:style => "width:180px;"}) %>
    </div>
    <div class="col-12 col-md-8 footer-top-right footer-txt">
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
