<div class="container-fluid footer-top">
  <div class="row">
    <div class="col-12 col-md-4 footer-top-left footer-txt">
      <%= image_tag("DeriDari_ApprovedLogo_FixedColours-copy", {:style => "width:180px;"}) %>
    </div>
    <div class="col-12 col-md-8 footer-top-right footer-txt">
      <div class="container container-right">
        <div class="row row-right">

          <div class="col-12 col-md-4 col-right">
            <h5>DeriDari</h5>
            <ul>
              <li>About</li>
              <li>Reviews</li>
              <li>Help</li>
              <li>Become A Chef</li>
            </ul>
          </div>

          <div class="col-12 col-md-4 col-right">
            <h5>Contact Us</h5>
            <ul>
              <li>Email: deridari@web.com</li>
              <li>Tel: 01010101</li>
            </ul>
          </div>

          <div class="col-12 col-md-4 col-right">
            <h5>Follow Us</h5>
            <ul>
              <li>Instagram</li>
              <li>Facebook</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
