



<div class="container-fluid">
  <div class="row">
    <div class="banner-half col-12 col-lg-6 banner-txt">
     <div class="banner-left-inner">
      <h1>Book a Chef with Deri Dari</h1>
      <p>Cooking live with a chef from their kitchen to yours.</p>
      <a class="button" href="#">Book a Chef</a>
    </div>
  </div>
  <div class="banner-half col-12 col-lg-6 banner-right">
  </div>
</div>
</div>

<div class="container-fluid at-deri-dari">
  <div class="row">
    <div class="banner-half col-12 col-lg-6 img-container">
      <div class="img-container-inner">

      </div>
    </div>
    <div class="banner-half col-12 col-lg-6 banner-txt">
     <div class="banner-left-inner-long">
      <h1>At Deri Dari,</h1>
      <p>we bring passion and learning back into your kitchen to give you the ultimate interactive cooking experience with professional Chefs! From a healthy meal with the family to a fine dining dinner date, speciality diets, food trends, and food preparation for the athletic, sick, or allergic or just wanting to learn the basics, our certified chefs have got you covered.</p>
      <a class="button" href="#">Let’s get started</a>
    </div>
  </div>
</div>
</div>

<div class="three-steps">
  <h2>Book a chef in just 3 steps</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 bullet-point">
        <i class="fas fa-search"></i>
        <p>Find your chef or cooking experience.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 bullet-point">
        <i class="far fa-calendar"></i>
        <p>Check Calendar.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 bullet-point">
        <i class="far fa-check-circle"></i>
        <p>Book your Chef.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 bullet-point">
        <i class="far fa-play-circle"></i>
        <p>Have your Experience.</p>
      </div>
    </div>
  </div>
</div>

<div class="why-deri-dari">
  <h1 class="div-header">Why Book with Deri Dari?</h1>
  <div class="container-fluid at-deri-dari">
    <div class="row row-white">
      <div class="banner-half col-12 col-lg-6 banner-txt">
       <div class="banner-left-inner-long">
        <h1>Our Chefs</h1>
        <p>Our Chefs come from all walks of life - and even some from your favourite restaurants - and our range of experiences reflect that. Our Chefs share a passion and love for cooking, teaching and people. They have extensive expertise in all aspects of cooking, prepping, ingredient selection and have gone through our Deri Dari Chef Training program to ensure all our at-home cooks get a consistent and high quality experience.</p>
        <a class="button-two" href="#">
          <p>Meet more chefs</p>
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="banner-half col-12 col-lg-6 img-container">
        <div class="img-container-inner">

        </div>
      </div>
  </div>
</div>
<div class="container-fluid at-deri-dari">
    <div class="row row-grey">
      <div class="banner-half col-12 col-lg-6 img-container">
        <div class="img-container-inner">

        </div>
      </div>
      <div class="banner-half col-12 col-lg-6 banner-txt">
       <div class="banner-left-inner-long">
        <h1>Our Experiences are second to none</h1>
        <p>Choose from a private 1-on1- course, or for a bit of fun with old or new friends, select our Group Experience option and cook a dish together. If you’re feeling hungry at lunch, whip up something with our Midday Munch Experiences at a lower cost, and don’t forget to try our Signature Experiences: Clean Out The Pantry if you’re looking for a Chef to use up all your existing ingredients.</p>
        <a class="button-two" href="#">
          <p>Meet more chefs</p>
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid at-deri-dari">
    <div class="row row-white">
      <div class="banner-half col-12 col-lg-6 banner-txt">
       <div class="banner-left-inner-long">
        <h1>Our Platform</h1>
        <p>Connect with your chef in real-time through our unique web-based video platform. Ask questions and interact as much as you like, and in as little as 60 minutes you’ll have created a beautiful dish with our chef by your side the entire way.</p>
        <a class="button-two" href="#">
          <p>Sign up</p>
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="banner-half col-12 col-lg-6 img-container">
        <div class="img-container-inner">

        </div>
      </div>
  </div>
</div>
<div class="container-fluid at-deri-dari">
    <div class="row row-grey">
      <div class="banner-half col-12 col-lg-6 img-container">
        <div class="img-container-inner">

        </div>
      </div>
      <div class="banner-half col-12 col-lg-6 banner-txt">
       <div class="banner-left-inner-long">
        <h1>Optional Ingredient Delivery</h1>
        <p>As an option, in select cities, you’ll also get the chance to choose whether to have all your ingredients delivered to you 48 hours before your experience, ensuring the freshest locally-sourced ingredients go into making your chosen dish.</p>
        <a class="button-two" href="#">
          <p>Sign up</p>
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</div>



<!--
<div id="banner">
  <div class="banner-text">
    <h1>Start Your New Culinary Experience</h1>
    <p>Be brave, level up your cooking game through fun online cooking sessions.</p>
    <a class="button" href="#">Book a Chef</a>
  </div>
  <div class="banner-img">
    <h1>test</h1>
  </div>
</div>


<div class="div-intro-text">
  <h1>Meet our Chefs!</h1>
  <p>At DeriDari we have 40+ chefs from all around the world who want to help you cook.</p>
</div>

<div class="chef-cards">
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
</div>

<div class="div-intro-text">
  <h1>Weekly featured Courses</h1>
  <p>Participate in our online courses and start your new culinary experiency with us.</p>
</div>

<div class="chef-cards">
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
</div>


<div class="explanation-div">
  <div class="text-container">
    <h3>Cooking doesn’t have to be hard.</h3>
    <h3>We make it easy.</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm bullet-point">
          <i class="fas fa-user-plus"></i>
          <p>Browse through our courses and join them.</p>
        </div>
        <div class="col-sm bullet-point">
          <i class="fas fa-user-friends"></i>
          <p>Connect with your cooking class and instructor.</p>
        </div>
        <div class="col-sm bullet-point">
          <i class="fas fa-video"></i>
          <p>Stream the cooking sessions from any place</p>
        </div>
        <div class="col-sm bullet-point">
          <i class="far fa-check-circle"></i>
          <p>You leveled up. Great achievement!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div-intro-text">
  <h1>Enjoy fun online cooking sessions from your kitchen</h1>
  <p>We'll help you learn how to cook new meals from all cultures that you’ll be able to cook for a life time.</p>
</div>

<div id="cooking-div">
  <div id="image-cooking">
    <p>img</p>
  </div>
  <div id="text-cooking">
    <h2>Caroline</h2>
    <h5>Full time Mom</h5>
    <p>Sometimes Caroline is stuck with the same grocery lists each week, but wants to learn more. She just doesn’t know where or how.</p>
    <div class="text-bullets">
      <i class="far fa-check-circle"></i>
      <p>Learns a new meal every week</p>
    </div>
    <div class="text-bullets">
      <i class="far fa-check-circle"></i>
      <p>Hosts dinner parties to impress her friends</p>
    </div>
    <div class="text-bullets">
      <i class="far fa-check-circle"></i>
      <p>Added 15 new meals to her cooking portfolio</p>
    </div>
  </div>
</div>


<div class="ready-to-get-started-div">
  <h3>Ready to get started?</h3>
  <p>Browse through 50+ courses and start your new culinary experience</p>
  <a class="button" href="#">Book a Chef</a>
</div>

-->
