

<div id="banner">
  <div class="banner-text">
    <h1>Start Your New Culinary Experience</h1>
    <p>Be brave, level up your cooking game through fun online cooking sessions.</p>
    <a class="button" href="#">Book a Chef</a>
  </div>
  <div class="banner-img">
    <h1>test</h1>
  </div>
</div>


<div class="div-intro-text">
  <h1>Meet our Chefs!</h1>
  <p>At DeriDari we have 40+ chefs from all around the world who want to help you cook.</p>
</div>

<div class="chef-cards">
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
</div>

<div class="div-intro-text">
  <h1>Weekly featured Courses</h1>
  <p>Participate in our online courses and start your new culinary experiency with us.</p>
</div>

<div class="chef-cards">
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <h1>img</h1>
    </div>
    <div class="card-text">
      <h3>Pedro</h3>
      <div class="chef-tags">
        <p>tags</p>
      </div>
      <p>Mexican chef in love with streedfood from all around the world.</p>
    </div>
  </div>
</div>


<div class="explanation-div">
  <div class="text-container">
    <h3>Cooking doesn’t have to be hard.</h3>
    <h3>We make it easy.</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm bullet-point">
          <i class="fas fa-user-plus"></i>
          <p>Browse through our courses and join them.</p>
        </div>
        <div class="col-sm bullet-point">
          <i class="fas fa-user-friends"></i>
          <p>Connect with your cooking class and instructor.</p>
        </div>
        <div class="col-sm bullet-point">
          <i class="fas fa-video"></i>
          <p>Stream the cooking sessions from any place</p>
        </div>
        <div class="col-sm bullet-point">
          <i class="far fa-check-circle"></i>
          <p>You leveled up. Great achievement!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div-intro-text">
  <h1>Enjoy fun online cooking sessions from your kitchen</h1>
  <p>We'll help you learn how to cook new meals from all cultures that you’ll be able to cook for a life time.</p>
</div>

<div id="cooking-div">
  <div id="image-cooking">
    <p>img</p>
  </div>
  <div id="text-cooking">
    <h2>Caroline</h2>
    <h5>Full time Mom</h5>
    <p>Sometimes Caroline is stuck with the same grocery lists each week, but wants to learn more. She just doesn’t know where or how.</p>
    <div class="text-bullets">
      <i class="far fa-check-circle"></i>
      <p>Learns a new meal every week</p>
    </div>
    <div class="text-bullets">
      <i class="far fa-check-circle"></i>
      <p>Hosts dinner parties to impress her friends</p>
    </div>
    <div class="text-bullets">
      <i class="far fa-check-circle"></i>
      <p>Added 15 new meals to her cooking portfolio</p>
    </div>
  </div>
</div>


<div class="ready-to-get-started-div">
  <h3>Ready to get started?</h3>
  <p>Browse through 50+ courses and start your new culinary experience</p>
  <a class="button" href="#">Book a Chef</a>
</div>
