.button {
  background: #F15D2E;
  padding: 10px 20px;
  border-radius: 30px;
  color: #172A53;
  width: fit-content;
}

.button:hover {
  text-decoration: none;
  color: #172A53;
  background: white;
}

.button-two {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0;
    margin-right: 10px;
    color: #F15D2E !important;
  }
  i {
    color: #F15D2E !important;
  }
}

.button-two:hover {
  p {
    text-decoration: underline !important;
  }
  i {
    text-decoration: none !important;
  }
}
