.button {
  background: #F15D2E;
  padding: 10px 20px;
  border-radius: 30px;
  color: #172A53;
  width: fit-content;
  transition: background 0.1s linear;
}

.button:hover {
  text-decoration: none;
  color: #172A53;
  background: #F7984A;
}

.button-two {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0;
    margin-right: 10px;
    color: #F15D2E !important;
  }
  i {
    color: #F15D2E !important;
    transition: transform 0.1s linear;
  }
}

.button-two:hover {
  i {
    transform: scale(1.3);
  }
  i, p {
    color: #F7984A !important;
  }
}
