.footer-top {
  color: rgba(0,0,0,0.3);
  .row {
    //width: 100%;
    .footer-txt {
      min-height: 40vh;
      width: 100vw;
      height: auto;
    }
  }
  .footer-top-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F7984A;
    height: 100%;
    .footer-top-left-logo {
    height: 180px;
    background-image: asset-url('DeriDari_ApprovedLogo_FixedColours-copy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    }
  }
  .footer-top-right {
    background: #172A53;
    height: 100%;
    .container-right {
      height: 100%;
      .row-right {
        height: 100%;
        .col-right {
          padding: 30px;
          h5 {
            font-weight: bold;
            color: #F7984A;
          }
          ul {
            list-style: none;
            color: #F7984A;
          }
        }
      }
    }
  }
}
.footer-bottom {
  background: #172A53;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #F7984A;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
